html {
    --gray-darkest: #24292e;
    --gray-darker: #2f363d;
    --gray-dark: #586069;
    --gray-light: #959da5;
    --gray-lighter: #e1e4e8;
    --gray-lightest: #fafbfc;
    --black: #000000;
    --white: #FFFFFF;
    --blue: #0AAFFF;
    --purple: #7551E9;
    --orange: #FF7D51;
    --pink: #ED63D2;
    --green: #2DCA73;
    --yellow: #FFC212;
    --bg: var(--gray-lighter);
    --text-color: var(--gray-darkest);
    --component-bg: var(--white);
    --component-border: var(--gray-lighter);
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: var(--bg);
    color: var(--text-color);
    font-size: 2rem;
    font-family: "Nunito Sans", system-ui;
    line-height: 1.5;
    padding-left: 1rem;
    padding-right: 1rem;
}

.card {
    background: var(--component-bg);
    width: 100%;
    max-width: 500px;
    border-radius: 1.6rem;
    border: 1px solid var(--component-border);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05), 0px 8px 16px rgba(0, 0, 0, 0.05);
    position: relative;
    margin-bottom: 2.4rem;
    z-index: 1;
    transition: all 0.2s ease-out 0s;
}

.card__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.card__body {
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.card__header,
.card__body {
    padding-left: 2rem;
    padding-right: 2rem;
}

.title {
    display: flex;
    align-items: center;
}

.title__icon,
.title__wordmark {
    display: inline-block;
}

.title__icon {
    display: flex;
    align-items: center;
    /* width: 1.2em;
    height: 1.2em; */
    padding: 0.2em;
    background: var(--blue);
    margin-right: 1rem;
    border-radius: 5px;
}

.title__icon i {
    font-size: 1.2em;
    color: var(--gray-lightest);
}

.title__wordmark {
    font-weight: 700;
}

.action {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    line-height: 1;
    transition: all 0.1s ease-out 0s;
    position: relative;
    z-index: 200;
    background: none;
    border: 0;
}

.action:before {
    content: "";
    position: absolute;
    background: var(--pink);
    opacity: 0.2;
    width: 0px;
    height: 0px;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    border-radius: 50%;
    transition: all 0.2s ease-out 0s;
}

.action__icon {
    width: 2rem;
    height: 2rem;
    color: var(--text-color);
}

.action__label {
    font-size: 1.6rem;
    color: var(--gray-light);
}

.action__container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.action:hover,
.action:focus {
    color: var(--pink);
}

.action:hover:before,
.action:focus:before {
    width: 45px;
    height: 45px;
    transition: all 0.2s ease-out 0s;
}

.action:active,
.action:focus {
    outline: 0;
}

.action:active .action__icon,
.action:focus .action__icon {
    color: var(--pink);
    fill: var(--pink);
}

.action:active .action__label,
.action:focus .action__label {
    color: var(--pink);
}

.animation {
    z-index: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 480px;
    height: 390px;
}

.animation__item {
    width: 2rem;
    height: 2rem;
    position: absolute;
    -webkit-animation: centerIn 1s ease-out forwards;
    animation: centerIn 1s ease-out forwards;
}

@-webkit-keyframes centerIn {
    from {
        left: 50%;
        top: 50%;
        bottom: 50%;
        right: 50%;
        transform: translate(-50%, -50%) rotate(-315deg);
        opacity: 1;
    }

    to {
        transform: initial;
        opacity: 0;
    }
}

@keyframes centerIn {
    from {
        left: 50%;
        top: 50%;
        bottom: 50%;
        right: 50%;
        transform: translate(-50%, -50%) rotate(-315deg);
        opacity: 1;
    }

    to {
        transform: initial;
        opacity: 0;
    }
}

.toggle {
    z-index: 2;
    width: 4.5rem;
    height: 1.5rem;
    position: relative;
    background: var(--black);
    border-radius: 999px;
    cursor: pointer;
    display: inline-block;
    margin: auto 1.5rem;
}

.toggle__label {
    font-size: 1.2rem;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 0.0625em;
    font-weight: 700;
}

.toggle__label--dark {
    color: var(--gray-dark);
}

.toggle__label--light {
    color: var(--gray-darkest);
}

.toggle:before {
    position: absolute;
    border-radius: 999px;
    left: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center;
    content: "";
    width: 2.25rem;
    height: 2.25rem;
    background: var(--gray-dark);
    transition: all 0.2s ease 0s;
}

.toggle__container {
    text-align: center;
    margin: 0 auto 9rem auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.toggle__container.active .toggle:before {
    left: 100%;
}

.toggle__container.active .toggle__label--light {
    color: var(--gray-dark);
}

.toggle__container.active .toggle__label--dark {
    color: var(--gray-lightest);
}